{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1> ADD USER </h1>
<form action=" " method="post">
    {% csrf_token %}
    <label for="">USER NAME</label>
    <input type="text" name="bio" placeholder="ENTER USER NAME" value="{{user.bio}}">
    <label for="">SKILL</label>
    <input type="text" name="skill_set" placeholder="ENTER SKILL" value="{{user.skill_set}}">
    <label for="">CONTACT</label>
    <input type="text" name="contact_details" placeholder=" ENTER CONTACT NUMBER" value="{{user.contact_details}}">
    <input type="submit" value="ADD">

</form>
<table class="table">
    <thead>
    <tr>
        <th scope="col">NO</th>
        <th scope="col">USER NAME</th>
        <th scope="col">SKILLS</th>
        <th scope="col">CONTACT NUMBER
        <th scope="col">ACTION</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
         <th scope="row">{{ forloop.counter }}</th>
        <td>{{ user.bio }}</td>
        <td>{{ user.skill_set }}</td>
        <td>{{ user.contact_details }}</td>
        <td>
            <a href="{% url 'details' user.id %}" class="btn btn-primary">DETAILS</a>
            <a href="{% url 'update' user.id %}" class="btn btn-success">UPDATE</a>
            <a href="{% url 'delete' user.id %}" class="btn btn-danger">DELETE</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

